app/modules/ToDo/page/template.html
<h1>Lista ToDo</h1><form class="form-inline"><div class="form-group"><input id="exampleInputName2" type="text" ng-model="newItem" placeholder="ToDo thing" class="form-control"/></div><button type="submit" ng-click="add(newItem)" class="btn btn-default">Add</button></form><p ng-repeat="x in list">{{ x }}</p>

app/modules/ToDo/page/template.jade
h1 Lista ToDo
form.form-inline
    .form-group
        input#exampleInputName2.form-control(type='text', ng-model="newItem", placeholder='ToDo thing')
    button.btn.btn-default(type='submit', ng-click="add(newItem)") Add

p(ng-repeat="x in list") {{ x }}
