app/pages/foods/foods.template.html
<ui-view><div class="page-header"><h1>Foods example</h1></div><div class="row text-center"><div ng-repeat="food in foods track by $index" style="animation-delay: {{$index * 70}}ms" class="example-card animated flipInY"><a href="href" ui-sref=".detail({id:$index})" class="hvr-grow-shadow"><div class="text-center paddy-v-10 bold">{{ food }}</div><img ng-src="http://lorempixel.com/200/200/food/{{ $index+1 }}"/></a></div></div></ui-view>

app/pages/foods/foods.template.jade
ui-view
    .page-header
        h1 Foods example
    .row.text-center
        .example-card(ng-repeat="food in foods track by $index", style="animation-delay: {{$index * 70}}ms").animated.flipInY
            a(href, ui-sref=".detail({id:$index})").hvr-grow-shadow
                div.text-center.paddy-v-10.bold {{ food }}
                img(ng-src="http://lorempixel.com/200/200/food/{{ $index+1 }}")
